<div class='container'>
    <h3>Register</h3>
    <form>
        <div class='form-group'>
            <app-login [formtype]='"register"' #username></app-login>
            <br>
            <app-password #password></app-password>
            <br>
            <app-email #email></app-email>
            <br>
            <input [(ngModel)]='firstname' name='firstname'
                placeholder='First Name'
                type='text' class='form-control' id='firstname'>
            <br>
            <input [(ngModel)]='lastname' name='lastname'
                placeholder='Last Name'
                type='text' class='form-control' id='lastname'>
        </div>
        <button name='submit'
            (click)='postForm(username.model
                            ,password.model
                            ,email.model)'>Submit</button>
        <label for='submit' [hidden]="response == ''">
            {{ response }}
        </label>
    </form>

</div>
