<div class='container'>
    <h3>Register</h3>
    <form>
        <div class='form-group'>
            <label for='username'>Username</label>
            
            <input #username [(ngModel)]='model.username' name='username'
                (keyup)='validateUsername()' [ngClass]='style.username'
                (keydown)='resetClock("username")'
                (keyup.tab)='postValidateUsername()' (blur)='postValidateUsername()'
                type='text' class='form-control' id='username' required>
        </div>
        <div [hidden]="error.username == ''" class="alert alert-danger">
            {{ error.username }}
        </div>
        <button (click)='postForm()'  >Submit</button>
    </form>

</div>
