<div *ngIf='!authenticated'>
    <p>Please log in to continue.</p>
</div>
<div *ngIf='authenticated'>
    <div class='columns is-gapless is-multiline is-mobile'>

        <div [ngClass]='{"is-active":tab==0}' class='column is-one-third button-boy fancy'
            (click)='tab=0;getSessions()'
            >
            <p>Join Session</p>
        </div>

        <div [ngClass]='{"is-active":tab==1}' class='column is-one-third button-boy fancy'
            (click)='tab=1;'
            >
            <p>Create Session</p>
        </div>

        <div [ngClass]='{"is-active":tab==2}' class='column is-one-third button-boy fancy'
            (click)='tab=2;getMySessions()'
            >
            <p>Your Sessions</p>
        </div>

        <!--Join Session-->
        <div *ngIf='tab==0 && rooms.length == 0'
            class='column'>
            <p>No available lobbies.</p>
        </div>
        <div *ngIf='tab==0 && rooms.length > 0'
            class='column columns is-gapless is-mobile is-multiline'>
            <div class='column is-three-fifths'>
                <p class='fancy title-title-boy'>
                Session
                </p>
            </div>

            <div class='column is-one-fifth'
                id='col-host'>
                <p class='col-host fancy title-title-boy'>
                Host
                </p>
            </div>

            <div class='column is-one-fifth'
                id='col-host'>
                <p class='col-host fancy title-title-boy'>
                Players
                </p>
            </div>

            <div class='column columns is-mobile is-gapless fancy is-12 lobby-room-container'
                *ngFor='let i of rooms' [ngClass]="{'active':i.phase, 'resolved':i.phase==-1, 'waiting':i.phase==0}">
                <div class='column col-title is-three-fifths clickable row-boy'
                    style="position:relative">

                    <div (click)='gotoRoom(i)' class='overlay'></div>
                    <div  class='sub-liminal' style='position:absolute;left:4px;display:table;height:100%;'>
                        <a *ngIf='!i.enrolled'
                            class='button is-success is-centered' style='display:table-cell;vertical-align:middle;'
                            (click)='i.password || joinSession(i.id);
                                    i.password && modal._active=true; modal._id = i.id'>
                            Join
                        </a>
                        <a *ngIf='i.enrolled'
                            class='button is-danger is-centered' style='display:table-cell;vertical-align:middle;'
                            (click)='leaveSession(i.id)'>
                            Leave
                        </a>
                    </div>
                    <p class='title-boy'>
                        <span *ngIf='i.enrolled' class='icon is-small is-left'>
                            <i class='fas fa-user'></i>
                        </span>
                        {{i.name}}
                        <span *ngIf='i.password'
                            class='icon is-left'>
                            <i class="fas fa-lock"></i>
                        </span>
                    </p>
                </div>
                <div class='column is-one-fifths'
                    id='col-host'>
                    <p class='col-host title-boy'>
                    {{i.username}}
                    </p>
                </div>
                <div class='column is-one-fifths'>
                    <p class='title-boy'>
                    {{i.players}} / {{i.capacity}}
                    </p>
                </div>
            </div>
        </div>
        
        <!--Create Session-->
        <div *ngIf='tab==1'
            class='column columns is-gapless is-mobile is-multiline'>
            <div class='column'>
                <div class='card'>
                    <div class='card-content'>
                        <div class='content'>

                            <div class='field is-horizontal'>
                                <div class='field-label'>
                                    <label class='label is-left'>Session Name</label>
                                </div>
                                <div class='field-body'>
                                    <div class='field'>
                                        <div class='control'>
                                            <input #name [(ngModel)]='session_form.name'
                                                class='input' type='text' placeholder="{{auth.whoAuthenticated()}}'s game">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='field is-horizontal'>
                                <div class='field-label'>
                                    <label class='label is-left'>Lobby Size</label>
                                </div>
                                <div class='field-body'>

                                    <div class='field'>
                                        <div class='control'>
                                            <input #capacity [(ngModel)]='session_form.capacity'
                                                type='number' class='input' min='3' max='16'>
                                        </div>
                                    </div>

                                    <div class='field'>
                                        <div class='control'>
                                            <label class='radio'>
                                                <input #public
                                                    [(ngModel)]='session_form._public'
                                                    [value]='true'
                                                    type='radio' name='public' selected>
                                                Public
                                            </label>
                                            <label class='radio'>
                                                <input #private
                                                    [(ngModel)]='session_form._public'
                                                    [value]='false'
                                                    type='radio' name='private'>
                                                Private
                                            </label>
                                            <label class='radio'>
                                                <input #invite_only
                                                    [(ngModel)]='session_form._public'
                                                    [value]='null'
                                                    type='radio' name='invite_only' disabled>
                                                Invite-Only
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class='field'>
                            </div>

                            <div class='field is-horizontal'>
                                <div class='field-label'>
                                    <label class='label is-left'>Password</label>
                                </div>
                                <div class='field-body'>
                                    <div class='field'>
                                        <div class='control has-icons-left'>
                                            <input [(ngModel)]='session_form.password'
                                                type='text' class='input is-rounded' placeholder='Optional Password'>
                                            <span class='icon is-small is-left'>
                                                <i class='fas fa-lock'></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class='field is-horizontal'>
                                <div class='field-label'>
                                </div>
                                <div class='field-body'>
                                    <div class='field'>
                                        <button class='button' (click)='createLobby()'>Create</button>
                                        <p *ngIf='session_form.success==true'>Successfully Created</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Your Sessions-->
        <div *ngIf='tab==2 && rooms.length == 0'
            class='column'>
            <p>Nothing to see here.</p>
        </div>
        <div *ngIf='tab==2 && rooms.length != 0'
            class='column columns is-gapless is-mobile is-multiline'>
            <div class='column is-three-fifths'>
                <p class='fancy title-title-boy'>
                Session
                </p>
            </div>

            <div class='column is-one-fifth'
                id='col-host'>
                <p class='col-host fancy title-title-boy'>
                Host
                </p>
            </div>

            <div class='column is-one-fifth'
                id='col-host'>
                <p class='col-host fancy title-title-boy'>
                Players
                </p>
            </div>

            <div class='column columns is-mobile is-gapless fancy is-12 lobby-room-container'
                *ngFor='let i of rooms' [ngClass]="{'active':i.phase, 'resolved':i.phase==-1, 'waiting':i.phase==0}">
                <div class='column col-title is-three-fifths clickable row-boy'
                    style="position:relative">

                    <div class='overlay'></div>
                    <div class='sub-liminal' style='position:absolute;left:4px;display:table;height:100%;'>
                        <a *ngIf='!i.enrolled'
                            class='button is-success is-centered' style='display:table-cell;vertical-align:middle;'
                            (click)='joinSession(i.id);'>
                            Join
                        </a>
                        <a *ngIf='i.enrolled'
                            class='button is-danger is-centered' style='display:table-cell;vertical-align:middle;'
                            (click)='leaveSession(i.id)'>
                            Leave
                        </a>
                    </div>
                    <p class='title-boy'>
                        <span *ngIf='i.enrolled' class='icon is-small is-left'>
                            <i class='fas fa-user'></i>
                        </span>
                        {{i.name}}
                        <span *ngIf='i.password'
                            class='icon is-left'>
                            <i class="fas fa-lock"></i>
                        </span>
                    </p>
                </div>
                <div class='column is-one-fifths'
                    id='col-host'>
                    <p class='col-host title-boy'>
                    {{i.username}}
                    </p>
                </div>
                <div class='column is-one-fifths'>
                    <p class='title-boy'>
                    {{i.players}} / {{i.capacity}}
                    </p>
                </div>
            </div>
        </div>


    </div>
</div>

<!-- TODO: Create a separate sub component for this because it smells -->
<div #modal class='modal' [ngClass]="{'is-active':modal._active}">
    <div class='modal-background'
        (click)='modal._active = false; modal._id = undefined'></div>
    <div class='modal-content'>
        <div class='card'>
            <div class='card-image'>
                <figure class='image is 4by3'>
                    <img src='https://sophosnews.files.wordpress.com/2014/11/250-cat-2.jpg' alt='password cat'>
                </figure>
            </div>
            <div class='card-content'>
                {{ password_field._error }} {{password_field.value}}
                <div class='field has-addons'>
                    <div class='control is-expanded'>
                        <input #password_field type='text' placeholder='Room password'
                               class='input is-rounded' [ngClass]="{'is-danger':password_field._error}"
                           (keydown.enter)='joinSession(modal._id, password_field.value, password_field) || modal._active = false'>
                    </div>
                    <div class='control'>
                        <button class='button is-info' 
                            (click)='joinSession(modal._id, password_field.value, password_field._error) || modal._active = false'>Submit</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <button class='modal-close is-large' aria-label='close'
        (click)='modal._active = false; modal._id = undefined'>
    </button>
</div>

